body{


    background-color: #CACCCF;
}

#block_form{


    width: 100%!important;
}

#images{


    border-radius: 10px;
    
    
}

.card{

    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    margin: 0 auto;
}

#tarjeta{

    min-height: 390px;
}

.circle{

    position: relative;
    left: -12px;
    top: -7px;
    background-color: #F07A47;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    font-weight: 600;
    
}